.banner {
  background-image: url(../../images/knitting-banner.jpg);
  background-size: cover;
  padding: 200px 0;
  background-position: center;
}

.banner .container {
  width: 900px;
  margin: auto;
}

.banner p {
  font-size: 20px;
}

.banner a {
  background-color: #B5743A;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}
